<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <div class="row">
                    <input type="text" formControlName="userName" >
                </div>
                <div class="row">
                    <input type="password" formControlName="password" >
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>