<div class="container">
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    Message From Server {{message}}
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" (click)="invokeServerMethod()">Invoke Server Method</button>
                </div>
                <div class="col-md-6">
                    Message From Client {{user}} is  {{messagefromClient}}
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>