<div class="container">
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    Message From Server {{message}}
                </div>
                
                
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <input #txtMessage type="text" class="form-control" >
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" (click)="invokeServerMethod(txtMessage.value)">Invoke Server Method</button>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    Message From Client {{recMessage?.user}} is  {{recMessage?.message}}
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>