<div class="container">
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="row">
                Number of records: {{length}}
            </div>
            <div class="row">
                Raised client side error
                <button type="button" class="btn btn-primary" (click)="onErrorButtonClick()" >Click</button>
            </div>
        </div>
        <div class="card-footer">
            
        </div>
    </div>
</div>